html, body{
  width: 99%;
  height: 97%;
}

h1 {
  font-family: monospace;
  color: gray;
  text-shadow: 2px 2px 5px gray;
}

#panel{
  height: 100%;
  padding: 10px;
  overflow: auto;
  /*border: 1px solid red;*/
}

#sub-panel {
  width: 45%;
  height: 90%;
  float: left;
  text-align: center; 
  /*border: 1px solid blue;*/
}

#myCanvas {
  /* display: inline-block; */
  margin-top: 1%;
  border: 2px solid black;
}

.slidecontainer {
  /* display: inline-block; */
  width: 75%;
  margin: 0 auto;
}

.slider{
    width: 86%;
}

#endtime{
  width: 40px;
}

#pose{
  /*border: 1px solid black;*/
}

#snapshots{
  margin: 35px 10px;
  height: 30%;
  text-align: initial;
  overflow: hidden;
  /*border: 1px solid red;*/
}

#image-panel{
  height: 60%;
  float: unset;
  overflow-y: hidden;
  overflow-x: scroll;
  white-space: nowrap;
  border: 2px solid black;
}

#help{
  text-align: left;
  padding: 2%;
}

#data-controls{
  text-align: left;
  padding: 2%;
}